.todo-list{
    /* width: 550px; */
    margin: 130px auto;
    background-color: #fff;
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 25px 50px 0  */
}

.control h1 {
    width: 100%;
    font-size: 100px;
    text-align: center;
    margin: 0;
    color: aquamarine;
}

.control .new-todo{
    padding: 15px 15px 15px 60px;
    border: 0;
    outline: none;
    font-size: 24px;
    box-sizing: border-box;
    width: 100%;
    line-height: 1.4rem;
}

.todo-item{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.todo-item input {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 20px;
}
.todo-item label {
    flex: 1;
    display: block;
    padding: 15px;
    padding-left: 0;
}
.todo-item label.complete {
    text-decoration: line-through;
}

.todo-item button {
    border: 0;
    outline: 0;
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    color: aqua;
}

.todos{
    margin: 0;
    padding: 0;
    list-style: none;
}